<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/main.css" />

<title>Document</title>
</head>
<body>
	<main>
		<div class="container mt-5" style="align-items: center">
			<div style="padding: 5px; margin-bottom: 20px">
				<a href="/main" title="Đến trang chủ">Trang chủ</a> <span> >>
					Danh sách đơn hàng</span>
			</div>
			<div style="width: 100%">
				<div style="display: flex; width: 100%; border-bottom: 2px solid #429a9d">
					<div style="width: 20%; background-color: #429a9d; padding: 7px">
						<span style="font-size: 1.6rem; font-weight: 500; color: #fff">Danh sách đơn hàng</span>
					</div>
					<span class="title"></span>
				</div>
				<div class="cart-block mt-5">
					<div class="cart-info table-responsive">
						<table class="table product-list">
							<thead>
								<tr>
									<th>No</th>
									<th>Order ID</th>
									<th>Order Date</th>
									<th>Address</th>
									<th>Note</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order, state: ${orders}">
									<td>[[${state.index}]]</td>
									<td>[[${order.id}]]</td>
									<td>[[${order.createdate}]]</td>
									<td>[[${order.address}]]</td>
									<td>[[${order.note}]]</td>
									<td class="search">
										<a th:href="@{|/orderdetail/${order.id}|}" class="btn btn-primary">
											<i class="fa-solid fa-magnifying-glass"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>

