<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index ::dynamic(~{:: main})}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/detail.css">

<script src="https://kit.fontawesome.com/5a854a2686.js"
	crossorigin="anonymous"></script>
</head>

<body>
	<main>
		<div class="container mt-3">
			<div class="heading-style-wrap">
				<h4 class="heading-style" style="font-size: 20px;">Trang chi tiết</h4>
			</div>
			<div class="row mt-3" th:object="${product}">
				<div class="col-4" >
					<img th:src="@{|/images/product/*{image}|}" height="300px" alt="">
				</div>
				<div class="col-8">
					<div class="product-content">
						<h2 class="proudct-name">[[*{name}]]</h2>
						<div class="product-price">
							<h4 class="new">[[${#numbers.formatDecimal(product.price - (product.price * product.discount / 100), 0, 'COMMA', 3, 'POINT')}]]đ</h4>
							<h4 class="old">[[${#numbers.formatDecimal(product.price, 0, 'COMMA', 3, 'POINT')}]]đ</h4>
						</div>
						<div class="product-content-desc">
							<p>Áo khoác len lông xù kiểu Hàn Quốc rất thích hợp để diện
								trong những ngày thời tiết lạnh, nó có tác dụng giữ ấm cơ thể và
								giúp trở nên trẻ trung, xinh đẹp hơn với nhiều kiểu dáng khác
								nhau. Hãy cùng mydeal.vn tham khảo những mẫu áo len xù này cho
								mình nhé</p>
						</div>
						<div class="product-content-qty">
							<label for="">Số lượng</label> <input type="number" ng-model="qty"
								min="1">
						</div>
						<div class="product-content-btn">
							<button class="btn product-content-btn" th:attr="ng-click=@{|cart.add(*{id})|}">
								<i class="fa-solid fa-cart-shopping"></i> Thêm giỏ hàng
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="heading-style-wrap">
						<h4 class="heading-style">Sản phẩm liên quan</h4>
					</div>
					<div class="row slick">
						<div class="col-2" th:each="p : ${products}" th:object="${p}">
							<a th:href="@{|/detail/*{id}|}" class="product">
								<div class="product-img-wrap position-relative">
									<img th:src="@{|/images/product/*{image}|}" alt="" class="product-img">
									<button class="btn main-cl-bg product-img-button">Xem
										thêm</button>
								</div>

								<div class="product-content">
									<h4 class="product-content-heading">[[*{name}]]</h4>
									<ul class="product-rate">
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
									</ul>
									<div class="product-price">
										<h4 class="product-price-new main-cl-t"
											style="font-size: 14px;">[[${#numbers.formatDecimal(p.price - (p.price * p.discount / 100), 0, 'COMMA', 3, 'POINT')}]]đ</h4>
										<h4 class="product-price-old" style="font-size: 12px;">[[${#numbers.formatDecimal(p.price, 0, 'COMMA', 3, 'POINT')}]]đ</h4>
									</div>
								</div>
								<span class="product-discount">-[[*{discount}]]%</span>
								<div class="product-button-detail">
									<button class="">
										<i class="fa-solid fa-cart-shopping"></i>
									</button>
									<button class="">
										<i class="fa-solid fa-heart"></i>
									</button>
								</div>
							</a>
						</div>
						<div class="col-2" th:each="p : ${products}" th:object="${p}">
							<a th:href="@{|/detail/*{id}|}" class="product">
								<div class="product-img-wrap position-relative">
									<img th:src="@{|/images/product/*{image}|}" alt="" class="product-img">
									<button class="btn main-cl-bg product-img-button">Xem
										thêm</button>
								</div>

								<div class="product-content">
									<h4 class="product-content-heading">[[*{name}]]</h4>
									<ul class="product-rate">
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
									</ul>
									<div class="product-price">
										<h4 class="product-price-new main-cl-t"
											style="font-size: 14px;">[[${#numbers.formatDecimal(p.price - (p.price * p.discount / 100), 0, 'COMMA', 3, 'POINT')}]]đ</h4>
										<h4 class="product-price-old" style="font-size: 12px;">[[${#numbers.formatDecimal(p.price, 0, 'COMMA', 3, 'POINT')}]]đ</h4>
									</div>
								</div>
								<span class="product-discount">-[[*{discount}]]%</span>
								<div class="product-button-detail">
									<button class="">
										<i class="fa-solid fa-cart-shopping"></i>
									</button>
									<button class="">
										<i class="fa-solid fa-heart"></i>
									</button>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			$('.slick').slick({
				infinite : true,
				slidesToShow : 5,
				slidesToScroll : 3,
				arrows : false,
				autoplay : true,
				autoplaySpeed : 2000,
			});
		</script>
	</main>
</body>
</html>