<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="product">
		<div class="row">
			<div class="product-heading">
				<h4>Sản phẩm</h4>
			</div>
		</div>
		<div class="row mt-3" style="border: 1px solid #e7e7e7;">
			<div class="col">
				<label for="">Sản phẩm/Trang</label> <select name="" id="">
					<option value="">10</option>
					<option value="">20</option>
					<option value="">30</option>
					<option value="">40</option>
					<option value="">50</option>
				</select>
			</div>
			<div class="col float-right">
				<div class="float-right">
					<label for="">Sắp xếp</label> <select name="" id="">
						<option value="">Mặc định</option>
						<option value="">Giá tăng dần</option>
						<option value="">Giá giảm dần</option>
						<option value="">Tên sản phẩm: A - Z</option>
						<option value="">Tên sản phẩm: Z - A</option>
					</select>
				</div>

			</div>
		</div>
		<div class="row mt-3">
			<div class="col-3 mt-3" th:each="p : ${products}" th:object="${p}">
				<a th:href="@{|/detail/*{id}|}"  class="product">
					<div class="product-img-wrap position-relative">
						<img th:src="@{|/images/product/*{image}|}" alt="" class="product-img">
						<button class="btn main-cl-bg product-img-button">Xem
							thêm</button>
					</div>

					<div class="product-content">
						<h4 class="product-content-heading">[[*{name}]]</h4>
						<ul class="product-rate">
							<li><i class="fa-solid fa-star"></i></li>
							<li><i class="fa-solid fa-star"></i></li>
							<li><i class="fa-solid fa-star"></i></li>
							<li><i class="fa-solid fa-star"></i></li>
							<li><i class="fa-solid fa-star"></i></li>
						</ul>
						<div class="product-price">
							<h4 class="product-price-new">[[${#numbers.formatDecimal(p.price - (p.price * p.discount / 100), 0, 'COMMA', 3, 'POINT')}]]đ</h4>
							<h4 class="product-price-old">[[${#numbers.formatDecimal(p.price, 0, 'COMMA', 3, 'POINT')}]]đ</h4>
						</div>
					</div>
					<span class="product-discount">-[[*{discount}]]%</span>
					<form class="product-button d-flex" >
						<button th:attr="ng-click=@{|cart.add(*{id})|}" class="">
							<i class="fa-solid fa-cart-shopping"></i>
						</button>
						<button class="">
							<i class="fa-solid fa-heart"></i>
						</button>
					</form>
				</a>
			</div>
		</div>
	</div>

</body>
</html>