<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index ::dynamic(~{:: main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main ng-app="myapp" ng-controller="user-ctrl">
        <div style="margin-left: 15%; padding: 10px">
            <span style="font-size: 40px">Danh sách người dùng</span>

            <div class="card">
                <div class="card-header">Bảng danh sách</div>
                <div class="card-body">
                    <!-- search -->
                    <jsp:include page="/views/Admin/Layout/search.jsp"></jsp:include>
                    <table class="table table-light">
                        <thead style="font-size: 1.2rem; font-weight: 500; text-align: center">
                            <td><b>Tài khoản</b></td>
                            <td><b>Mật khẩu</b></td>
                            <td><b>Fullname</b></td>
                            <td><b>Email</b></td>
                        </thead>
                        <tbody style="text-align: center">
                                <tr ng-repeat="user in items" class="table-active">
                                    <td>{{user.username}}</td>
                                    <td>{{user.password}}</td>
                                    <td>{{user.fullname}}</td>
                                    <td>{{user.email}}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="/js/Myjs/AdminJS/UserAdmin.js"></script>
    </main>
</body>

</html>