<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="input-group mb-3"
      style="display: flex; justify-content: flex-end"
    >
      <div style="width: 300px; display: flex; flex-direction: row">
        <input
          type="text"
          class="form-control"
          placeholder="Search...."
          style="border-radius: 16px 0px 0px 16px; outline: none"
        />
        <span
          class="btn"
          style="
            border-radius: 0px 5px 5px 0px;
            background-color: #607d8b;
            color: #fff;
          "
          >Search
        </span>
      </div>
    </div>
  </body>
</html>
