<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="dynamic(main)"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/detail.css">
<link rel="stylesheet" href="/css/slick.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="https://kit.fontawesome.com/5a854a2686.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>
</head>
<body>
	<div>
		<header th:replace="/layout/header.html"></header>
		<nav th:replace="/layout/nav.html"></nav>
		<main th:replace="${main}"></main>
		<footer th:replace="/layout/footer.html"></footer>
	</div>
	<script src="/js/Myjs/layout.js"></script>
</body>
</html>