<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <main class="main-cl-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 p-0 m-0 position-relative">
                    <div class="header-menu text-white">
                        <i class="fa-solid fa-list"></i>
                        Danh mục sản phẩm
                        <i class="fa-solid fa-circle-arrow-down ml-3"></i>
                    </div>
                    <ul class="menu-list">
                        <li class="menu-item w-100">
                            <a href="#" class="menu-link d-flex justify-content-between">
                                <span>Thời trang nam</span>
                                 <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="menu-item w-100">
                            <a href="#" class="menu-link d-flex justify-content-between">
                                <span>Thời trang nữ</span>
                                 <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="menu-item w-100">
                            <a href="#" class="menu-link d-flex justify-content-between">
                                <span>Phụ kiện</span>
                                 <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="menu-item w-100">
                            <a href="#" class="menu-link d-flex justify-content-between">
                                <span>Trang sức</span>
                                 <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="menu-item w-100">
                            <a href="#" class="menu-link d-flex justify-content-between">
                                <span>Túi xách</span>
                                 <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <ul class="nav header-nav ">
                        <li class="nav-item">
                          <a class="nav-link text-white" th:href="@{/main}">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white" href="#">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white" href="#">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Tin tức</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-white" href="#">Liên hệ</a>
                          </li>
                      </ul>
                </div>
            </div>
        </div>
    </main>
</body>
</html>