#image-discount {
  margin-top: 20px;
}

.product-heading {
  margin-top: 10px;
  border-top: 2px solid #646464;
  border-bottom: 1px solid #646464;
  width: 100%;
}

.product-heading h4 {
  color: #646464;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
}

.product {
  position: relative;
}

.product:hover {
    text-decoration: none;
}

.product-img-wrap {
  position: relative;
}

.product:hover .product-img-button {
  display: block;
  animation: SlideFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.product:hover .product-button button {
  background-color: #646464;
  animation: fade;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.product:hover .product-button button i {
  color: white;
  animation: fade;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.product-button button:hover {
  background-color: #429a9d !important;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product-img {
  width: 100%;
}

.product-img-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  border-radius: 0;
  border: 0;
  padding: 6px;
  transform: translateX(-100%);
  opacity: 0;
  display: none;
}

@keyframes SlideFadeIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.product-img-button:hover {
  background-color: #646464;
}

.product-content .product-content-heading {
  font-size: 14px;
  color: #646464;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-rate {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.product-rate li {
  padding: 0 2px;
  color: yellow;
}

.product-price {
  display: flex;
  justify-content: center;
}

.product-price .product-price-new {
  display: inline-block;
  margin-right: 15px;
  font-weight: 400;
}

.product-price .product-price-old {
  display: inline-block;
  text-align: center;
  text-decoration: line-through;
  color: #7e7e7e;
  font-weight: 400;
}

.product-discount {
  position: absolute;
  top: 0;
  right: inherit;
  left: 0;
  border: 1px solid #429a9d;
  padding: 5px 10px;
  color: #429a9d;
}

.product-button button {
  flex: 1;
  background-color: transparent;
  color: #646464;
  font-weight: 700;
  text-align: center;
  padding: 10px 5px;
}

.product-button button i {
  font-size: 20px;
}

.pagination li a {
  display: inline-block;
  padding: 10px;
}
