<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index :: dynamic(~{::main})}">

<head>
    <meta charset="ISO-8859-1" />
    <title>Insert title here</title>
</head>

<body>

    <main ng-app="myProduct" ng-controller="myCtrl">

        <div style="margin-left: 15%; padding: 10px">
            <span style="font-size: 40px">Form Sản phẩm</span>

            <!-- <c:if test="${not empty success_product}">
                <div class="alert alert-success" role="alert">
                    ${success_product}</div>
            </c:if> -->


            <div class="card">
                <div class="card-header">
                    <h4>Cập nhật</h4>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        <!-- <form:input path="id" type="hidden" /> -->

                        <div class="col-md-8 row pt-3">
                            <div class="col-md-6">
                                <label for="name" class="form-label"><b>Tên sản phẩm</b></label>
                                <input ng-model="form.name" type="text" class="form-control" path="name" />
                            </div>
                            <div class="col-md-6">
                                <label for="discount" class="form-label"><b>Giảm giá</b></label>
                                <input ng-model="form.discount" type="text" class="form-control" path="discount" />
                            </div>
                            <div class="col-md-6">
                                <label for="price" class="form-label"><b>Giá sản phẩm</b></label>
                                <input ng-model="form.price" type="number" class="form-control" path="price" />
                            </div>
                            <div class="col-md-6">
                                <label for="category" class="form-label" style="width: 100%;"><b>Loại</b></label>
                                <select ng-model="form.category.id" style="width:200px; height: 35px;">
                                    <option ng-repeat="sp in category" ng-value="sp.id">{{sp.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="image" class="form-label"><b>Chọn hình</b>
                                    <input ng-model="form.image" type="file" class="form-control" name="img"
                                        onchange="angular.element(this).scope().imageChanged(this.files)" />
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 pt-3">
                            <label for="image" style="margin-top: 20px;">
                                <img ng-src="{{'/images/product/'+form.image}}" alt="Image" width="100%"
                                    height="200px" /></label>
                        </div>

                        <!-- <div class="col-md-6">
                                
                                <form:input type="date" class="form-control" path="createdate" />
                                <form:errors path="createdate" class="form-text text-danger" />
                                <c:if test="${not empty error_product}">
                                    <div class="form-text text-danger">${error_product}</div>
                                </c:if>
                            </div> -->
                        <div class="col-12" style="padding: 10px;">
                            <button ng-click="create()" class="btn btn-primary">Thêm</button>
                            <button ng-click="update()" class="btn btn-warning">Sửa</button>
                            <button ng-click="loadDeleteForm()" type="button" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Xóa
                            </button>
                            <button ng-click="reset()" class="btn btn-danger">Làm
                                mới</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div style="margin-left: 15%; padding: 10px">
            <!--  -->



            <span style="font-size: 40px">Danh sách sản phẩm</span>

            <div class="card">
                <div class="card-header">Bảng danh sách</div>
                <div class="card-body">
                    
                    <table class="table table-light">
                        <thead style="font-size: 1.2rem; font-weight: 500; text-align: center">
                            <td><b>Tên sản phẩm</b></td>
                            <td><b>Giá</b></td>
                            <td><b>Giảm giá</b></td>
                            <td><b>Loại</b></td>
                            <td><b>Hình</b></td>
                            <!-- <td><b>Ngày</b></td> -->
                            <td><b>Action</b></td>
                        </thead>
                        <tbody style="text-align: center">
                           
                            <tr class="table" ng-repeat="sp in products">

                                <td>{{sp.name}}</td>
                                <td>
                                    <fmt:formatNumber pattern="#,##0" value="${sp.price }" />{{sp.price}} VNĐ
                                </td>
                                <td>{{sp.discount}}</td>
                                <td>{{sp.category.name}}</td>
                                <td><img src="/images/product/{{sp.image}}" height="70px" width="70px"
                                        style="object-fit: cover;" alt=""></td>
                                <!-- <td>
                                    <fmt:formatDate value="${sp.createdate}" pattern="dd-MM-yyyy" />
                                </td> -->
                                <td>
                                    <button ng-click="edit(sp)" class="btn btn-primary">Edit</button>

                                </td>
                            </tr>
                        


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa sản phẩm này không?
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body container row">
                        <div class="col-sm-4"
                            style="display: flex; align-items: center; justify-content: center; border-right: 1px solid #3333;">

                            <img ng-src="{{'/images/product/' + form.image}}" height="100px" width="100px" />
                        </div>
                        <div class="col-sm-8 row" style="margin-left: 10px;">
                            <label style="font-size: 1.2rem;">Tên: </label>
                            <input ng-value="form.name" type="text" disabled />
                            <label style="font-size: 1.2rem;">Giá: </label>
                            <input ng-value="form.price" type="text" disabled />
                            <label style="font-size: 1.2rem;">Giảm giá: </label>
                            <input ng-value="form.discount" type="text" disabled />
                            <label style="font-size: 1.2rem;">Loại: </label>
                            <input ng-value="form.category.name" type="text" disabled />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button ng-click="delete(form.id)" data-bs-dismiss="modal" type="button"
                            class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <script src="/js/Myjs/AdminJS/productAdmin.js"></script>
    </main>
</body>

</html>