<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>

<body>
	<main>
		<div class="container mt-3">
			<div class="row">
				<div class="col-md-3">
					<div class="menu-account">
						<h3>
							<span> Tài khoản </span>
						</h3>
						<ul>
							<li><a th:href="@{/form}"><i class="fa fa-sign-in"></i>Đăng
									nhập</a></li>
							<li><a th:href="@{/formSignUp}"><i class="fa fa-key"></i>Đăng
									ký</a></li>
							<li><a href="/thay-doi-mat-khau.html"><i
									class="fa fa-key"></i>Quên mật khẩu</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-9">
					<script type="text/javascript">
						$(".link-site-more").hover(function() {
							$(this).find(".s-c-n").show();
						}, function() {
							$(this).find(".s-c-n").hide();
						});
					</script>
					<script src="/app/services/accountServices.js"></script>
					<script src="/app/controllers/accountController.js"></script>

					<div class="register-content clearfix ng-scope"
						ng-controller="accountController"
						ng-init="initRegisterController()">
						<h1 class="title">
							<span>Đăng ký tài khoản</span>
						</h1>
						<!-- ngIf: IsError -->
						<!-- ngIf: IsSuccess -->
						<!-- ngIf: InValid -->
						<div
							class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
							<form
								class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-email"
								action="/formSignUp/create" th:object="${account}" method="post" >
								<h2>
									<span>Thông tin tài khoản</span>
								</h2>
								<div th-text="${success}"></div>
								<div class="form-group">
									<label for="Code" class="col-sm-3 control-label">Tài
										khoản<span class="warning">(*)</span>
									</label>
									<div class="col-sm-9">
										<input name="username" path="username" type="text"
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
											ng-model="Code" required="true" fdprocessedid="xq3z1"/>
										<small class="text-danger" th:text="${error_user}"></small>
									</div>
								</div>
								<div class="form-group">
									<label for="Email" class="col-sm-3 control-label">Email<span
										class="warning">(*)</span></label>
									<div class="col-sm-9">
										<input path="email" name="email" type="email"
											class="form-control ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required"
											ng-model="Email" required="true" fdprocessedid="irkz1"/>
									</div>
								</div>
								<div class="form-group">
									<label for="Password" class="col-sm-3 control-label">Mật
										khẩu<span class="warning">(*)</span>
									</label>
									<div class="col-sm-9">
										<input name="password" path="password" type="password"
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
											ng-model="Password" required="true" fdprocessedid="mf0caj"/>
									</div>
								</div>
								<div class="form-group">
									<label for="RePassword" class="col-sm-3 control-label">Nhập
										lại mật khẩu<span class="warning">(*)</span>
									</label>
									<div class="col-sm-9">
										<input type="password" name="rePass"
											class="form-control ng-pristine ng-untouched ng-valid"
											ng-model="RePassword" fdprocessedid="ned0po">
										<small class="text-danger" th:text="${error_repass}"></small>
																			
									</div>
								</div>
								<h2>Thông tin cá nhân</h2>
								<div class="form-group">
									<label for="Name" class="col-sm-3 control-label">Họ tên<span
										class="warning">(*)</span></label>
									<div class="col-sm-9">
										<input name="fullname" path="fullname" type="text"
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
											ng-model="Name" required="true" fdprocessedid="5cgeab"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Giới tính</label>
									<div class="col-sm-9">
										<select name="gender" path="gender" class="form-control ng-pristine ng-untouched ng-valid"
											ng-model="GenderId"
											ng-options="item.Id as item.Name for item in Genders"
											fdprocessedid="kb3ab9">
											<option value="0"label="Nữ" selected="selected">Nữ</option>
											<option value="1" label="Nam">Nam</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="birthday" class="col-sm-3 control-label">Ngày sinh<span
										class="warning"></span></label>
									<div class="col-sm-9">
										<input name="birthday" path="birthday" type="date"
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
											ng-model="birthday" required="true" fdprocessedid="5cgeab"/>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-3 control-label">Điện thoại</label>
									<div class="col-sm-9">
										<input type="number"
											class="form-control ng-pristine ng-untouched ng-valid"
											ng-model="Phone" required="true" fdprocessedid="wibsng">
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-3 control-label">Địa chỉ</label>
									<div class="col-sm-9">
										<input name="address" path="address" type="text"
											class="form-control ng-pristine ng-untouched ng-valid"
											ng-model="Address" required="true" fdprocessedid="6ihj4e"/>
									</div>
								</div>								
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-8 text-center">
										<button class="btn btn-default"
											 fdprocessedid="73vjsl">Đăng ký</button>
									</div>
								</div>
							</form>
						</div>
					</div>


				</div>
			</div>
		</div>
	</main>
</body>

</html>