<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>

<body>
	<main>
		<div class="container mt-3">
			<div class="row">
				<div class="col-md-3">
					<div class="menu-account">
						<h3>
							<span> Tài khoản </span>
						</h3>
						<ul>
							<li><a th:href="@{/form}"><i class="fa fa-sign-in"></i>Đăng
									nhập</a></li>
							<li><a th:href="@{/formSignUp}"><i class="fa fa-key"></i>Đăng
									ký</a></li>
							<li><a href="/thay-doi-mat-khau.html"><i
									class="fa fa-key"></i>Quên mật khẩu</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-9">
					<script type="text/javascript">
						$(".link-site-more").hover(function() {
							$(this).find(".s-c-n").show();
						}, function() {
							$(this).find(".s-c-n").hide();
						});
					</script>
					<script src="/app/services/accountServices.js"></script>
					<script src="/app/controllers/accountController.js"></script>

					<div class="register-content clearfix ng-scope"
						ng-controller="accountController"
						ng-init="initRegisterController()">
						<h1 class="title">
							<span>Đăng ký tài khoản</span>
						</h1>
						<!-- ngIf: IsError -->
						<!-- ngIf: IsSuccess -->
						<!-- ngIf: InValid -->
						<div
							class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
							<div class="text-center">
								<h1 style="font-size: 30px"><i class="fa-solid fa-circle-check fa-beat" style="color: #23a425; font-size: 30px"></i>Đăng ký tài khoản thành công</h1>
								<a th:href="@{/form}" class="btn btn-success">Quay lại đăng nhập</a>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</main>
</body>

</html>