<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/5a854a2686.js"
	crossorigin="anonymous"></script>
</head>
<body>
	<main>
		<div class="container mt-3">
			<div class="row">
				<div class="col-md-3">
					<div class="menu-account">
						<h3>
							<span> Tài khoản </span>
						</h3>
						<ul>
							<li><a href="/dang-nhap.html"><i class="fa fa-sign-in"></i>Đăng
									nhập</a></li>
							<li><a href="/dang-ky.html"><i class="fa fa-key"></i>Đăng
									ký</a></li>
							<li><a href="/thay-doi-mat-khau.html"><i
									class="fa fa-key"></i>Quên mật khẩu</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-9">
					<script type="text/javascript">
						$(".link-site-more").hover(function() {
							$(this).find(".s-c-n").show();
						}, function() {
							$(this).find(".s-c-n").hide();
						});
					</script>
					<script src="/app/services/accountServices.js"></script>
					<script src="/app/controllers/accountController.js"></script>

					<div class="register-content clearfix ng-scope"
						ng-controller="accountController"
						ng-init="initRegisterController()">
						<h1 class="title">
							<span>Đăng ký tài khoản</span>
						</h1>
						<!-- ngIf: IsError -->
						<!-- ngIf: IsSuccess -->
						<!-- ngIf: InValid -->
						<div
							class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
							<div class="container">
								<div class="Login-form-wrap">
									<h1 class="text-center"
										style="text-transform: uppercase; color: #05c3ff; font-weight: 700;">Xác
										nhận gmail</h1>
									<form th:action="@{/xacnhanMail}" method="post">
										<div class="form-group">
											<label for="exampleInputPassword2">Email</label> <input
												type="email" th:name="email" th:value="${email1}"
												class="form-control" id="exampleInputPassword2"
												placeholder="Email" />
										</div>
										<div class="form-group">
											<label for="exampleInputPassword2">Mã OTP</label> <input
												type="text" th:name="otp" class="form-control"
												id="exampleInputPassword2" placeholder="Mã OTP" />
										</div>
										<button class="btn btn-primary">Xác
											nhận</button>
									</form>
									<div class="form-dangky">
										<span>Chưa nhận được mail <a href="/form/in">Gửi
												lại mail</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</main>
</body>
</html>