<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index :: dynamic(~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main ng-app="myapp" ng-controller="order-ctrl">
        <div style="margin-left: 15%; padding: 10px">
            <span style="font-size: 40px">Danh sách đơn hàng đang chờ</span>
            <div class="card">
                <div class="card-header">Bảng danh sách chi tiết</div>
                <div class="card-body">
                    <div style="
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 10px;
                  ">
                        <a href="/admin/order">
                            <button class="btn btn-primary">Trở lại</button>
                        </a>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr style="text-align: center">
                                <th>ID đơn hàng</th>
                                <th>Sản phẩm</th>
                                <th>Hình ảnh</th>
                                <th>Số lượng</th>
                                <th>Giá</th>                                
                            </tr>
                        </thead>
                        <tbody>                    
                                <tr ng-repeat="od in items">
                                    <td>{{od.order.id}}</td>
                                    <td>{{od.product.name}}</td>
                                    <td><img src="/images/product/{{od.product.image}}" height="70px" width="70px"
                                        style="object-fit: cover;" alt=""></td>
                                    <td>{{od.quantity}}</td>
                                    <td>
										<fmt:formatNumber pattern="#,##0"/>{{od.price}}0 VNĐ
									</td>
                                </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="/js/Myjs/AdminJS/OrderDetailAdmin.js"></script>
    </main>
     
</body>

</html>