<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index :: dynamic(~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main ng-app="myapp" ng-controller="order-ctrl">
        <div style="margin-left: 15%; padding: 10px">
            <span style="font-size: 40px">Danh sách đơn hàng đang chờ</span>

            <div class="card">
                <div class="card-header">Bảng danh sách</div>
                <input type="hidden" ng-model="form.id">
                <div class="card-body">
                    <!-- search -->
                    <jsp:include page="/views/Admin/Layout/search.jsp"></jsp:include>
                    <table class="table table-light">
                        <thead style="font-size: 1.2rem; font-weight: 500">
                            <td><b>STT</b></td>
                            <td><b>Tài khoản</b></td>
                            <td><b>Ngày tạo</b></td>
                            <td><b>Địa chỉ</b></td>
                            <td><b>Số điện thoại</b></td>
                            <td><b>Họ và tên</b></td>
                            <td><b>Email</b></td>
                            <td><b>Giá</b></td>
                            <td><b>Đã thanh toán</b></td>
                            <td><b>Chi tiết</b></td>
                        </thead>
                        <tbody>   
                                <tr class="table-active" ng-repeat="o in items">
                                    <td>{{o.id}}</td>
                                    <td>{{o.account.username}}</td>
                                    <td>
                                        <input disabled value="{{o.createdate}}" pattern="dd-MM-yyyy" />
                                    </td>
                                    <td>{{o.address}}</td>
                                    <td>{{o.phone}}</td>
                                    <td>{{o.account.fullname}}</td>
                                    <td>{{o.account.email}}</td>
                                    <td>
                                        <input disabled pattern="#,##0" value="{{o.orderDetails.price}}" /> VNĐ
                                    </td>
                                    <td>
                                        <form class="text-center" method="post">
                                            <input name="isStatus" value="${!o.status }" type="checkbox" ${o.status
                                                ? 'checked' : '' } formaction="/admin/form/order" ng-click="edit(o.id)" onchange="change()" disabled checked>
                                        </form>
                                    </td>
                                    <td>
                                        <!-- <a href="/admin/order/detail?id=${o.id }" class="btn btn-primary">Chi tiết</a> -->
                                        <a ng-href="/admin/order/detail/{{o.id}}" class="btn btn-primary">Chi tiết</a>
                                    </td>
                                </tr>
							
						</tbody>
                    </table>
                </div>
            </div>
        </div>
         <script src="/js/Myjs/AdminJS/OrderAdmin.js"></script>
    </main>
</body>

</html>