<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index :: dynamic(~{::main})}">

<head>
    <meta charset="ISO-8859-1" />
    <title>Insert title here</title>
</head>

<body >

    <main  ng-app="myapp" ng-controller="category-ctrl" >
        <form class="me-auto ms-auto w-50 mt-3 row">
            <div style="margin-left: 15%; padding: 10px">
                <span style="font-size: 40px">Form danh mục</span>
                <div class="card">
                    <div class="card-header">
                        <h4>Cập nhật</h4>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">

                            <div class="col-md-6">
                                <label for="id" class="form-label"><b>Id</b></label>
                                <input ng-model="form.id" class="form-control" type="text" />
                            </div>
                            <div class="col-md-6">
                                <label for="name" class="form-label"><b>Thể loại</b></label>
                                <input ng-model="form.name" class="form-control" type="text" />

                            </div>

                            <div class="col-12" style="padding: 10px;">
                                <button formaction="/admin/form/categorycreate" type="submit" ng-click="create()"
                                    class="btn btn-primary">Thêm</button>
                                <button formaction="/admin/form/danhmuc" type="submit" ng-click="reset()" class="btn btn-danger">Làm
                                    mới</button>
                                <button formaction="/admin/form/danhmuc" type="submit" ng-click="update()" class="btn btn-info">Cập nhật</button>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </form>

        <div style="margin-left: 15%; padding: 10px">
            <span style="font-size: 40px">Danh sách các loại sản phẩm</span>

            <div class="card">
                <div class="card-header">Bảng danh sách</div>
                <div class="card-body">

                    <table class="table table-light">
                        <thead style="font-size: 1.2rem; font-weight: 500; text-align: center">
                            <td><b>ID</b></td>
                            <td><b>Tên loại</b></td>
                            <td><b>Thao tác</b></td>
                        </thead>
                        <tbody style="text-align: center" >
                            <tr ng-repeat="cate in items">
                                <td>{{cate.id}}</td>
                                <td>{{cate.name}}</td>
                                <td>
                                    <div class="btn-group" >
                                        <button ng-click="edit(cate)" class="btn btn-warning">edit</button>
                                        <button ng-click="delete(cate)" class="btn btn-danger">xóa</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="/js/Myjs/AdminJS/CategoriesAdmin.js"></script>
    </main>
</body>

</html>